.arrow,
.arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
}

.arrow {
    visibility: hidden;
}

.arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
    @apply bg-white border border-default-200 border-solid;
}

.tooltip[data-popper-placement^='top'] > .arrow {
    bottom: -3.8px;
    @apply before:border-t-transparent before:border-l-transparent;
}

.tooltip[data-popper-placement^='bottom'] > .arrow {
    top: -3.8px;
    @apply before:border-b-white before:border-r-white;
}

.tooltip[data-popper-placement^='left'] > .arrow {
    right: -3.8px;
    @apply before:border-b-transparent before:border-l-transparent;
}

.tooltip[data-popper-placement^='right'] > .arrow {
    left: -3.8px;
    @apply before:border-t-transparent before:border-r-transparent;
}
